.element {
  max-width: 282px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}

@media (max-width: 630px) and (min-width: 491px) {
  .element {
    max-width: 230px;
  }
}
